<app-navbar></app-navbar>

<div class="member-container">
    <div class="text-container">
        <h3>{{memberName}}</h3>
        <div class="member-description">{{memberDescription}}</div>
        <h3>Top 3</h3>
        <div class="member-top"><b>Bands: </b>{{memberTopBands}}</div>
        <div class="member-top"><b>Alben: </b>{{memberTopAlben}}</div>
        <div class="member-top"><b>Filme: </b>{{memberTopFilme}}</div>
        <div class="member-top"><b>Serien: </b>{{memberTopSerien}}</div>
        <div class="member-top"><b>Spiele: </b>{{memberTopSpiele}}</div>
    </div>
</div>

<div class="img-container">
    <img class="member-img" [src]="memberImg" width="50%" height="auto"/>
</div>



