<app-navbar></app-navbar>
<div class="image-container">
    <img class="band-picture" src="./assets/band/group.jpg">
    <div class="table-container">
        <table class="band-table" [cellSpacing]="0" [cellPadding]="7">
            <thead>
                <th class="band-member" routerLink="/band/Marcel" style="border-left: none;">Marcel Romberg</th>
                <th class="band-member" routerLink="/band/Jannick">Jannick Born</th>
                <th class="band-member" routerLink="/band/Luka">Luka Schierenberg</th>
                <th class="band-member" routerLink="/band/Ramona">Ramona Born</th>
                <th class="band-member" routerLink="/band/Tobias">Tobias Winter</th>
                <th class="band-member" routerLink="/band/Milo" style="border-right: none;">Milo Randermann</th>
            </thead>
            <tbody>
                <tr>
                    <td class="member-info" routerLink="/band/Marcel" style="border-left: none;">Rhythm Guitar</td>
                    <td class="member-info" routerLink="/band/Jannick">Lead Guitar</td>
                    <td class="member-info" routerLink="/band/Luka">Extreme Vocals</td>
                    <td class="member-info" routerLink="/band/Ramona">Clean Vocals</td>
                    <td class="member-info" routerLink="/band/Tobias">Bass</td>
                    <td class="member-info" routerLink="/band/Milo" style="border-right: none;">Drums</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
