<app-navbar></app-navbar>
<div class="image-container">
    <img class="band-picture" src=".\assets\band\photo-1521737604893-d14cc237f11d.avif">
    <div class="table-container">
        <table class="band-table" [cellSpacing]="0" [cellPadding]="7">
            <thead>
                <th class="band-member" routerLink="/band/member" style="border-left: none;">Gregor Merklein</th>
                <th class="band-member" routerLink="/band/member">Jannick Born</th>
                <th class="band-member" routerLink="/band/member">Luka Schierenberg</th>
                <th class="band-member" routerLink="/band/member">Ramona Born</th>
                <th class="band-member" routerLink="/band/member">Tobias Winter</th>
                <th class="band-member" routerLink="/band/member" style="border-right: none;">Milo Randermann</th>
            </thead>
            <tbody>
                <tr>
                    <td class="member-info" routerLink="/band/member" style="border-left: none;">Rhythm Guitar</td>
                    <td class="member-info" routerLink="/band/member">Lead Guitar</td>
                    <td class="member-info" routerLink="/band/member">Extreme Vocals</td>
                    <td class="member-info" routerLink="/band/member">Clean Vocals</td>
                    <td class="member-info" routerLink="/band/member">Bass</td>
                    <td class="member-info" routerLink="/band/member" style="border-right: none;">Drums</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
