.music-container {
    height: calc(100% - 9vh);
    top: 9vh;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: aqua;
}

.placeholder-image {
    margin-top: 15%;
}